
.card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #d5f2e5;
    width: 250px;
    height: 250px;
    border: 1px solid lightblue;
    border-radius: 15px;
    margin: auto 10px;
}

.card > header {
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid black;
    padding: 5px;
}

.card > header > input {
    background-color: transparent;
    border: none;
}

.delete-button {
    background-color: transparent;
    background-image: url("../resources/delete_icon.png");
    background-size: cover;
    background-position: center center;
    border: none;
    width: 25px;
    height: 25px;
    margin: auto 0;
}

.delete-button > img {
    width: 25px;
    height: 25px;
}

.task-holder {
    padding: 4px;
    overflow-y: auto;
}

.task-holder > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px double gray;
}

.task-holder > input:focus {
    outline: none;
}