.ghost-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #a534f2, #537bff);
    margin: 10px;
    transition: linear .1s;
    cursor: pointer;
    user-select: none;
}

.ghost-card:hover {
    font-size: xx-large;
    font-weight: bold;
}