
body {
    background-color: #f5f5f5;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

nav {
    background-color: #D5D8DC;
    width: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
}

nav > button {
    border: none;
    border-radius: 10%;
    background-color: #D5D8DC;
    transition: linear .1s;
}

nav > button:hover {
    transform: translateX(10px);
    background-color: #a0a0a0;
}

.icon {
    width: 35px;
    height: 35px;
}

#section-manager {
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#section-creator {
    background-color: #E74C3C;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0px 5px 5px 0px black;
    font-weight: bold;
}

#section-creator:active {
    box-shadow: 0 3px 5px 0 black;
    transform: translateY(2px);
}

#switch-to-uml {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 4px 1px;
    transition: .1s ease-out;
}

#switch-to-uml:hover {
    background-color: #a0a0a0;
    font-size: large;
}

.section {
    background-color: #BDC3C7;
}

.card {

}