/* Handling nav & its elements styles */

nav {
    background-color: lightgrey;
    color: white;
}

.icon_button {
    background-color: lightgrey;
}

/* Handling card field & its elements styles */

.right_divs {
    background-color: #db4c40;
}

.section {
    background: linear-gradient(#720900, #9c291f);
}

.section_header {
    background-color: darkred;
    color: white;
}

.expander {
    background-color: gray;
}



/* Handling the cards and its elements */

.ghost_card {
    background: rgba(0, 255, 255, 0.2);
}

.ghost_card:hover {
    background-color: rgba(0, 255, 255, 0.4);
}

.card_header {
    background-color: darkcyan;
}