/* Handling nav & its elements styles */

nav {
    background-color: lightgrey;
    color: white;
}

.icon_button {
    background-color: lightgrey;
}

/* Handling card field & its elements styles */

.right_divs {
    background-color: #db4c40;
}

.section {
    background: linear-gradient(#720900, #9c291f);
}

.section_header {
    background-color: darkred;
    color: white;
}

.expander {
    background-color: gray;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.ghost_card {
    background: rgba(0, 255, 255, 0.2);
}

.ghost_card:hover {
    background-color: rgba(0, 255, 255, 0.4);
}