* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Handling the nav and its elements */

nav {
    display: flex;
    flex-direction: column;
    width: 60px;
    padding: 0 5px;
    height: 100%;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

button {
    cursor: pointer;
}

.icon_button {
    width: 60px;
    height: 60px;
    transition: linear .1s;
    border-radius: 50%;
    border: none;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_button:hover {
    transform: scale(1.05);
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(160, 158, 158);
}

.icon_button > img{
    width: 50px;
    height: 50px;
}

/* Handlig the right_divs */

.right_divs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Handling the section elements */

#card_fields {
    display: block;
    padding: 10px 5px 10px 10px;
}

#section_creator_button {
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    background-color: greenyellow;
    border: solid black 3px;
    border-radius: 5px;
    z-index: 0;
    transition: linear .1s ;
}

#section_creator_button:hover {
    background-color: green;
}

#section_manager {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    overflow: auto;
    box-shadow: inset 0px 0px 15px 2px black;
}

.section {
    width: 100%;
    transition: ease-out .2s;
    height: fit-content;
    overflow-x: auto;
}

.section_header {
    font-weight: bold;
    font-style: italic;
    box-shadow: 0px 2px 5px 0px black;
    display: flex;
    justify-content: space-between;
}

.section_holder {
    display: flex;
    overflow-x: auto;
}

.delete_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: red;
}

.delete_button > img {
    width: 25px;
    height: 25px;
    transition: .2s ease-out;
}

.delete_button:hover > img{
    transform: scale(1.2);
}

.expander {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto 10px;
    cursor: pointer;
}

.title {
    transition: .05s ease-out;
    padding: 10px;
}

.title:hover {
    font-style: normal;
}

.title:focus {
    outline: none;
}

/* Handling the card styles and its components */

.card {
    width: 200px;
    height: 230px;
    margin: 10px;
    border-radius: 30px;
    transition: 0.1s ease-out;
    background-color: #CDEAC0;
    transition: 0.1s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.ghost_card {
    width: 200px;
    height: 230px;
    margin: 10px;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    cursor: pointer;
    transition: 0.1s ease-out;
}

.ghost_card:hover {
    transform: scale(1.05);
}

.card_header {
    display: flex;
    justify-content: space-between;
    border-radius: 30px 30px 0 0;
}

.card_title {
    margin: 10px 0 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.card_title:focus {
    outline: none;
    font-style: normal;
}

.card_title:hover {
    font-style: normal;
}

.card_delete_button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: auto 10px;
    background-color: red;
    border: solid 1px black;
}

.card_delete_button > img {
    width: 20px;
    height: 20px;
}

.card_content {
    margin: 10px;
}

.card_content:focus {
    outline: none;
}

/* Animations */
